body{
    background-color: #f5f5f5;
}

#header{
    /* background-color: #606060; */
    background-color: #f5f5f5;
    padding: 30px 0px;
}

#header-content{
    max-width: 75%;
    text-align: center;
    margin: auto;
}

#header-left{
    float: left;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

#header-right{
    float: left;
    text-align: right;
    font-size: 20px;
    margin: auto;
}

.header-item{
    padding: 0px 10px;
}

#body{
    background-color: #f5f5f5;
    max-width: 75%;
    margin: auto;
}

/* .mainPageLeft{
    background-color: red;
    max-width: 25%;
    float: left;
}*/
.col-md-3{
    margin: 0px;
    padding: 0px;
}

.col-md-6{
    margin: 0px;
    padding: 0px;
}

.bodyComponent {
    width: auto;
    background-color: white;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 5px;
    /* user-select: none prevents user highlighting */
    user-select: none;
}

.bodyComponentTitle {
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.bodyComponentBody {
    text-align: center;
}

.btnAddItem {
    font-size: 20px;
}

.shoppingListItemLabel {
    padding-left: 5px;
}

#inCartItems {
    font-size: 50%;
    text-align: center;
}

#inCartItems:hover {
    text-decoration: underline;
}

.shoppingListItemHidden {
    display: none;
}

.shoppingListItemShow {
    display: block;
}